<div class="container">
    <h1>GitHub Search</h1>
</div>
<app-search></app-search>
<div class="container">
   <div class="row">
       <div class="col-md-6">
        <h2>Profile</h2>
        <img src="src/assets/IMG_20210713_000813.webp" >
       </div>
       <div class="col-md-6">
           <h2>Repositories</h2>
           <p><a class="btn btn-success" href="https://bel-94.github.io/akan-web-application/">Akan-Web-App</a></p>
           <p><a class="btn btn-success" href="https://bel-94.github.io/Delani-Studio-IP3/">Delani-Studio</a></p>
           <p><a class="btn btn-success" href="https://bel-94.github.io/Pizza-IP4/">Pizza-Best</a></p>
           <p><a class="btn btn-success" href="https://bel-94.github.io/bel-first-project/">Portfolio</a></p>
           <a class="btn btn-success" href="https://bel-94.github.io/quotes/">Bel-Quotes</a>
        <!-- <h2>Search Repository</h2> -->
           <!-- <app-gitsearch-form></app-gitsearch-form> -->
       </div>
   </div>
</div>

